:root {
  --background-color: #091336;
  --body-color: #e5e5e5;
  --text-color: #ffffff99;
  --btn-blue-color: #005ff8;
  --white-color: #ffffff;
  --green-color: #28a879;
  --yellow-color: #ffd500;
  --red-color: #ea1a4f;
  --grayText-color: #899cb1;
  --backgroundBox-color: #dee6f5;
  --text-secondary: #5e7793;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: var(--white-color);
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

p {
  color: var(--text-color);
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

input {
  border-radius: 10px;
  width: 250px;
  height: 20px;
}

th {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.navbar-vertical {
  display: block;
  background: var(--background-color);
  width: 240px;
  height: 964px;
}

.navbar-vertical-list {
  margin-top: 32px;
  margin-left: 13px;
}

.navbar-vertical-list li p {
  margin-left: 13px;
}

.navbar-vertical-list__item {
  margin-top: 32px;
}

.navbar-logo {
  margin-left: 12px;
  margin-top: 20px;
}

.navbar-icon {
  width: 25px;
  height: 20px;
}

.btn {
  width: 200px;
  height: 52px;
  border-radius: 4px;
}

.btn-blue {
  background: var(--btn-blue-color);
  color: var(--white-color);
  border-color: var(--btn-blue-color);
}

.navbar-horizontal {
  margin-top: -970px;
  margin-left: 240px;
  width: 1400px;
  height: 64px;
  box-shadow: 0px 4px 5px #e9edf3;
}

.navbar-horizontal ul {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  gap: 36px;
}

.date {
  margin-left: 37px;
  color: var(--grayText-color);
}

.user {
  color: var(--grayText-color);
}

.statistic {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  margin-left: 5px;
}

.arrow-icon {
  margin-left: 10px;
}

.calls {
  color: var(--green-color);
}

.talks {
  color: var(--yellow-color);
}

.conversion {
  color: var(--red-color);
}

.box {
  position: absolute;
  width: 156px;
  height: 6px;
  background: var(--backgroundBox-color);
  border-radius: 12px;
  top: 40px;
}

.item-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #122945;
}

.green-box {
  width: 68px;
  height: 6px;
  background: var(--green-color);
  border-radius: 12px 0px 0px 12px;
}

.yellow-box {
  width: 68px;
  height: 6px;
  background: var(--yellow-color);
  border-radius: 12px 0px 0px 12px;
}

.red-box {
  width: 68px;
  height: 6px;
  background: var(--red-color);
  border-radius: 12px 0px 0px 12px;
}

.container {
  margin-left: 240px;
  width: 1200px;
  height: 2730px;
  background: #f1f4f9;
}

.controls {
  display: flex;
  width: 1040px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.controls-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 195px;
}

.controls-input {
  background: none;
  border: none;
  margin-bottom: 5px;
  padding-left: 20px;
}

.controls-arrow {
  margin-left: 8px;
}

.controls-input ::-moz-placeholder {
  color: var(--text-secondary);
}

.controls-input ::placeholder {
  color: var(--text-secondary);
}

.controls-button {
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  margin-right: 36px;
}

.table-section {
  padding-left: 120px;
  padding-top: 135px;
}

.table-container {
  width: 1040px;
  height: 1985px;
  border-radius: 8px;
  background: var(--white-color);
}

th a {
  color: var(--grayText-color);
  cursor: pointer;
}

.type {
  margin-left: 46px;
}

.time {
  padding-left: 30px;
}

.phone {
  padding-left: 60px;
}

.worker {
  padding-left: 30px;
}

.source {
  padding-left: 200px;
}

.rate {
  padding-left: 140px;
}

.distance {
  padding-left: 120px;
}

.tbody-worker {
  margin-left: 45px;
}

.tbody-phone {
  margin-left: 80px;
}

.tbody-source {
  margin-left: 115px;
}

.tbody-rate {
  margin-left: 132px;
}

.tbody-distance {
  margin-left: 150px;
}

#thead {
  display: inline-block;
  margin-top: 26px;
  margin-left: 40px;
}

#tbody {
  display: inline-block;
  margin-left: 46px;
}

th, td {
  text-align: left;
}
@media (min-width: 480px) {
  th, td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  th:first-child, td:first-child {
    padding-left: 0;
  }
  th:last-child, td:last-child {
    padding-right: 0;
  }
}/*# sourceMappingURL=App.css.map */